*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(220, 220, 220);
}
.body-beckground{
    background-color: rgb(255, 255, 255);
    width: 1170px;
     margin: 0 auto;
}
h1{
    font-size: 20px;
    margin: 10px 0;
}
h2{
    color: orange;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
   
}
.text-margin{
   margin: 10px 0 0 10px;
}

.flexiable-container{
    display: flex;
}
.half-width{
    width: 560px;
    padding: 10px;
    float: left;
    margin: 0 auto;
}
.half-width img {
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.myself-button{
    text-decoration: none;
    background-image: linear-gradient(red, yellow, green);
    padding: 5px 40px;
    border-radius: 10px;
    color: white;  
   
}
.experience-item{
    box-shadow: 5px 5px  8px gray;
    width: 310px;
    margin: 20px auto;
    border-radius: 10px;
    margin-bottom: 50px;
    
}
#experience-box1{
    border-left: 8px solid blue;
}
#experience-box2{
    border-left: 8px solid tomato;
}
#experience-box3{
    border-left: 8px solid greenyellow;
}
footer{
    margin-top: 10px;
    margin-bottom: 40px;
    display: block;
    background-color: #84ADEA;
}
footer p {
    text-align: center;
    padding: 20px 0;
    color: white;
    
}